button,
input {
  border: none;
  outline: none;
  background: none;
}
ul {
  padding: 0;
  list-style: none;
}
* {
  box-sizing: border-box;
}
.App {
  width: 600px;
  margin: 100px auto;
  padding: 40px 20px 0;
  border: 1px solid #ddd;
}